<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/otf")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function checkErrorMessage(model) {
            if (model.ErrorMessage != undefined) {
                displayErrorMessage(model.ErrorMessage);
            }
        }
        function resetErrorMessage() {
            $("#errorMessage").html("");
        }
        function displayErrorMessage(msg) {
            $("#errorMessage").html('<div class="row"><div class="alert alert-danger col-md-4 col-md-offset-4" align="center">' +
                msg +'</div></div>');
        }
    </script>
</body>
</html>


